@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--roxo-escuro);

}

:root{
    --roxo-escuro: #191527;
    --roxo-claro: #5F5BCD;
    --roxo-50: #6E57E0;
}

.container-pricipal{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.cabecalho {
    width: 100%;
    height: 8vh;
    display: flex;
    margin: 0%;
    position: fixed; 
    top: 0;     

   
}
nav {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2%;
    
}
.posicao-links{
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.txt-cabecalho{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 18px;
    text-decoration: none; 
    transition: color 0.3s ease;
}
.txt-cabecalho:hover {
    color: var(--roxo-claro); 
}

.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffff;
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s ease;
}

.logo:hover {
    color: var(--roxo-claro); 
}
.rodape {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 10%;
}

.links-rodape {
    margin-top: 5%;
}

.links-rodape a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--roxo-claro);
    margin-bottom: 20px;
    font-size: 40px;
}
.primeira-sessao{
    width: 80%;
    margin-top: 10%;
    /* border: solid 3px #ffffff; */
    display: flex;
    flex-direction: row;
}
.sessao-txt{
    display: flex;
    flex-direction: column;
    
}
.atividades{
    display: flex;
    flex-direction: row;
}
.txt-atvidade{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.img-atv{
    width: 45%;
    height: 50%;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid var(--roxo-claro);
    margin-right: 30px;
    margin-top: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}



/* Estilos para a lista de definição */
dl {
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

dt {
    font-weight: 500;
    color: var(--roxo-claro);
    margin-top: 15px;
    font-size: 18px;
}

dd {
    font-weight: 300;
    margin-left: 0;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
}
.titulo-trimestre{
    margin-top: 8%;
}

.link-atividade {
    color: #6c63ff; 
    text-decoration: none; 
    font-weight: 500;
    transition: color 0.3s ease;
}

.link-atividade:hover {
    color: #928cff; 
    text-decoration: underline; 
}

